.DS_Store

# Gradle 自体が使用するファイルが置かれます
.gradle/
# Gradle が生成するファイルが置かれます
build/

# Android SDK に関する定義などが記述されます
# android update project コマンドで生成できます
local.properties

# リリース用の証明書のパスワードを書いたりするのに使うのでリポジトリには入れない
gradle.properties


# AndroidStudio のローカルな設定ファイルです
*.iml
# AndroidStudio のアプリ実行の設定ファイルなので ignore 対象から除外します
!.idea/runConfigurations/*
# AndroidStudio のファイルです
.idea/*.xml
# AndroidStudio のファイルです
.idea/.name
# AndroidStudio のファイルです
.idea/copyright/
# AndroidStudio のファイルです
.idea/libraries/
# AndroidStudio のファイルです
.idea/scopes/
